#  Library Management System - Comprehensive Analysis Task

##  Dataset Overview

Your expanded library datasets now contain:
- Books: 500 entries with diverse genres, authors, and publication years
- Members: 500 members across different age groups and membership types  
- Transactions: 6,687 borrowing transactions spanning 2023-2024

##  Key Analysis Areas

### 1. **Most Popular Books and Authors** 

**Analysis Questions to Explore:**
- Which books have been borrowed the most times?
- Who are the top 10 most popular authors?
- Are newer books more popular than older ones?
- Do certain genres get borrowed more frequently?

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Which books have been borrowed the most times?

In [3]:
#Load books and transaction dataset
books =  pd.read_csv('books_dataset.csv')
transactions = pd.read_csv('transactions_dataset.csv')

#Count frequency fo each Book_ID
most_borrowed_book = transactions['Book_ID'].value_counts().head(10)
print("Tho 10 most borrowed book:\n",most_borrowed_book)

Tho 10 most borrowed book:
 Book_ID
B012    48
B192    45
B272    41
B144    40
B261    39
B439    39
B434    39
B079    39
B008    39
B195    39
Name: count, dtype: int64

In [4]:
# Who are the top 10 most popular authors?

In [5]:
# Merge transaction with book to get autoe info
merge_books = transactions.merge(books[['Book_ID','Author']], on='Book_ID', how='left')

#count frequency of each author
top_authors = merge_books['Author'].value_counts().head(10)
print("Top 10 most popular authors:\n",top_authors)

Top 10 most popular authors:
 Author
Mark Daniels          300
Dr. Amara Okafor      299
Fatima Al-Zahra       272
Nadia Petrov          261
Rachel Kim            250
Jennifer Lopez        249
Ahmed Hassan          249
Sophie Martin         241
Hannah Lee            240
Isabella Rodriguez    239
Name: count, dtype: int64

In [6]:
# Are newer books more popular than older ones?

In [7]:
# Merge transaction with publication year
merged_years = transactions.merge(books[['Book_ID','Publication_Year']], on='Book_ID',how='left')

# Group by years and count borrowings
borrowings_by_year = merged_years['Publication_Year'].value_counts().sort_index()
print("Borrowings by publication year:\n",borrowings_by_year)

Borrowings by publication year:
 Publication_Year
2012      24
2014      28
2015      35
2016      39
2017      12
2018     480
2019     833
2020     957
2021    1108
2022    1523
2023    1016
2024     632
Name: count, dtype: int64

In [8]:
# Do certain genres get borrowed more frequently?

In [9]:
# Merge transactions with genre info
merged_genres = transactions.merge(books[['Book_ID','Genre']], on='Book_ID',how='left')

# Count frequency of each genre
genre_popularity = merged_genres['Genre'].value_counts()
print("Genre popularity:\n",genre_popularity)

Genre popularity:
 Genre
Biography     697
Health        676
Technology    649
History       594
Education     537
Fiction       485
Adventure     444
Philosophy    377
Science       376
Business      374
Travel        249
Self-Help     181
Sociology      98
Art            97
Cooking        95
Music          95
Religion       90
Politics       88
Thriller       80
Fantasy        79
Economics      74
Psychology     72
Romance        71
Mystery        59
Sports         50
Name: count, dtype: int64

### 2. **Member Usage Patterns** 

**Key Patterns to Discover:**
- Which membership types borrow the most books?
- How does borrowing frequency vary by age group?
- Are there seasonal borrowing patterns?
- Who are the most active vs inactive members?

In [10]:
# Which membership types borrow the most books?

In [11]:
members = pd.read_csv('members_dataset.csv')

# Merge transactions with member info
merged = transactions.merge(members[['Member_ID','Membership_Type']], on='Member_ID',how='left')


# Count borrowed per Membership type
borrowings_by_type = merged['Membership_Type'].value_counts()
print("Borrowings by membership type:\n", borrowings_by_type)

Borrowings by membership type:
 Membership_Type
Regular    2412
Student    2197
Premium    1580
Faculty     324
Senior      174
Name: count, dtype: int64

In [12]:
# 2. How does borrowing frequency vary by age group?

In [13]:
# Define age bins and labels
bins = [0, 19, 29, 49, 64, 200]
labels = ['Teens (16–19)', 'Young Adults (20–29)', 'Adults (30–49)', 'Middle-aged (50–64)', 'Seniors (65+)']

# Create age group column
members['Age_Group'] = pd.cut(members['Age'], bins=bins, labels=labels)

# Merge transactions with age group info
merged_age = transactions.merge(members[['Member_ID', 'Age_Group']], on='Member_ID', how='left')

# Count borrowings per age group
borrowings_by_age = merged_age['Age_Group'].value_counts().sort_index()
print("Borrowings by age group:\n", borrowings_by_age)

Borrowings by age group:
 Age_Group
Teens (16–19)            792
Young Adults (20–29)    2051
Adults (30–49)          1856
Middle-aged (50–64)     1393
Seniors (65+)            595
Name: count, dtype: int64

In [14]:
# 3. Are there seasonal borrowing patterns?

In [15]:
# Convert Borrow_Date to datetime
transactions['Checkout_Date'] = pd.to_datetime(transactions['Checkout_Date'])

# Extract month
transactions['Month'] = transactions['Checkout_Date'].dt.month

# Count borrowings per month
monthly_borrowings = transactions['Month'].value_counts().sort_index()
print("Borrowings by month:\n", monthly_borrowings)

Borrowings by month:
 Month
1     598
2     556
3     630
4     611
5     644
6     590
7     594
8     630
9     600
10    590
11    370
12    274
Name: count, dtype: int64

In [16]:
# 4. Who are the most active vs inactive members?

In [17]:
# Count number of borrowings per member
borrowings_per_member = transactions['Member_ID'].value_counts()

# Top 10 active members
print("Top 10 most active members:\n", borrowings_per_member.head(10))

# Bottom 10 least active members
print("\nBottom 10 least active members:\n", borrowings_per_member.tail(10))

Top 10 most active members:
 Member_ID
M010    17
M006    17
M002    17
M009    17
M003    17
M001    17
M005    17
M039    15
M248    15
M136    15
Name: count, dtype: int64

Bottom 10 least active members:
 Member_ID
M131    5
M216    5
M254    5
M445    5
M301    4
M218    4
M160    4
M198    4
M425    3
M498    3
Name: count, dtype: int64

**Age Groups for Analysis:**
- Teens (16-19): Mostly students
- Young Adults (20-29): Mix of students and working professionals  
- Adults (30-49): Mostly regular and premium members
- Middle-aged (50-64): Mix of regular and faculty
- Seniors (65+): Senior membership category

### 3. **Overdue Analysis** 

**Critical Metrics:**
- **Current overdue books**: 5 books are currently overdue (>30 days)
- **Unreturned books**: 5 books haven't been returned yet
- **Return patterns**: Average loan period analysis
- **Member reliability**: Which membership types return books on time?

In [20]:
# (a) Current overdue books (>30 days)

In [19]:
# Convert dates to datetime
transactions['Checkout_Date'] = pd.to_datetime(transactions['Checkout_Date'])
transactions['Return_Date'] = pd.to_datetime(transactions['Return_Date'])

# Calculate loan duration
transactions['Loan_Days'] = (transactions['Return_Date'] - transactions['Checkout_Date']).dt.days

# Find overdue books (>30 days)
overdue_books = transactions[transactions['Loan_Days'] > 30].head(5)  # first 5 overdue
print("Current overdue books:\n", overdue_books[['Book_ID','Member_ID','Loan_Days']])

Current overdue books:
    Book_ID Member_ID  Loan_Days
5     B361      M457       31.0
19    B035      M005       49.0
31    B061      M327       36.0
61    B478      M099       36.0
98    B434      M379       44.0

In [23]:
# (b) Unreturned books

In [22]:
# Find books with missing return date
unreturned_books = transactions[transactions['Return_Date'].isna()].head(5)
print("Unreturned books:\n", unreturned_books[['Book_ID','Member_ID','Checkout_Date']])

Unreturned books:
    Book_ID Member_ID Checkout_Date
0     B082      M259    2023-01-01
3     B253      M005    2023-01-01
4     B056      M358    2023-01-01
18    B121      M224    2023-01-02
20    B052      M330    2023-01-02

In [24]:
#(c) Return patterns (average loan period)

In [25]:
# Average loan period
avg_loan_period = transactions['Loan_Days'].mean()
print("Average loan period (days):", avg_loan_period)

Average loan period (days): 13.263717122452535

In [26]:
# (d) Member reliability (returning on time by membership type)

In [27]:
# Merge with membership info
merged = transactions.merge(members[['Member_ID','Membership_Type']], on='Member_ID', how='left')

# On-time returns (<=30 days)
merged['On_Time'] = merged['Loan_Days'] <= 30

# Reliability by membership type
reliability = merged.groupby('Membership_Type')['On_Time'].mean()
print("Member reliability (fraction returning on time):\n", reliability)

Member reliability (fraction returning on time):
 Membership_Type
Faculty    0.802469
Premium    0.874051
Regular    0.810945
Senior     0.850575
Student    0.751934
Name: On_Time, dtype: float64

### 4. **Genre Preferences by Age Group** 

**Expected Patterns (Built into Dataset):**
- **Students (16-25)**: Education, Science, Technology, Fiction, Adventure
- **Young Professionals (26-35)**: Business, Technology, Biography, Fiction, Self-Help  
- **Middle-aged (36-50)**: History, Biography, Business, Health, Philosophy
- **Older Adults (51-70)**: History, Biography, Philosophy, Health, Travel
- **Seniors (71+)**: History, Biography, Philosophy, Religion, Art

In [28]:
# Define age bins and labels
bins = [0, 19, 25, 35, 50, 70, np.inf]
labels = ['Teens (16–19)', 'Students (20–25)', 'Young Professionals (26–35)', 
          'Middle-aged (36–50)', 'Older Adults (51–70)', 'Seniors (71+)']

# Create Age_Group column
members['Age_Group'] = pd.cut(members['Age'], bins=bins, labels=labels)

# Merge transactions with members and books
merged_all = transactions.merge(members[['Member_ID','Age_Group']], on='Member_ID', how='left')
merged_all = merged_all.merge(books[['Book_ID','Genre']], on='Book_ID', how='left')

# Count borrowings by age group and genre
genre_by_age = merged_all.groupby(['Age_Group','Genre']).size().unstack(fill_value=0)

print("Genre preferences by age group:\n", genre_by_age)

Genre preferences by age group:
 Genre                        Adventure  Art  Biography  Business  Cooking  \
Age_Group
Teens (16–19)                      122    5         15         6       11
Students (20–25)                   259   23         14        22       27
Young Professionals (26–35)         17   16        158       141       14
Middle-aged (36–50)                 17   18        207       174       14
Older Adults (51–70)                27   19        290        31       27
Seniors (71+)                        2   16         13         0        2

Genre                        Economics  Education  Fantasy  Fiction  Health  \
Age_Group
Teens (16–19)                        5        132       15       81      15
Students (20–25)                    20        343       21      227      25
Young Professionals (26–35)         11         17       14      139      18
Middle-aged (36–50)                 11         17       12       13     242
Older Adults (51–70)                25         27       15       24     376
Seniors (71+)                        2          1        2        1       0

Genre                        ...  Psychology  Religion  Romance  Science  \
Age_Group                    ...
Teens (16–19)                ...           4         6        5      117
Students (20–25)             ...          20        12       22      209
Young Professionals (26–35)  ...          12        15       14       12
Middle-aged (36–50)          ...           8        17       12       19
Older Adults (51–70)         ...          28        29       18       19
Seniors (71+)                ...           0        11        0        0

Genre                        Self-Help  Sociology  Sports  Technology  \
Age_Group
Teens (16–19)                       16         17       9         139
Students (20–25)                    16         23      15         279
Young Professionals (26–35)        116         12       6         184
Middle-aged (36–50)                 14         18      12          19
Older Adults (51–70)                16         28       7          23
Seniors (71+)                        3          0       1           5

Genre                        Thriller  Travel
Age_Group
Teens (16–19)                      10       3
Students (20–25)                   16      16
Young Professionals (26–35)        16       9
Middle-aged (36–50)                16      16
Older Adults (51–70)               21     204
Seniors (71+)                       1       1

[6 rows x 25 columns]

C:\Users\vaish\AppData\Local\Temp\ipykernel_3308\1237611741.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  genre_by_age = merged_all.groupby(['Age_Group','Genre']).size().unstack(fill_value=0)

### 5. **Library Utilization Optimization** 

**Resource Planning Questions:**
- Which books should be purchased in multiple copies?
- What genres are underrepresented in borrowing?
- When are peak borrowing periods?
- How can we improve member engagement?

In [45]:
# Which books should be purchased in multiple copies?

In [46]:
# Count how many times each book was borrowed
borrow_counts = transactions['Book_ID'].value_counts()

# Set threshold: books borrowed more than 20 times
high_demand_books = borrow_counts[borrow_counts > 20]

print("Books to consider for multiple copies:\n", high_demand_books)

Books to consider for multiple copies:
 Book_ID
B012    48
B192    45
B272    41
B144    40
B261    39
        ..
B312    21
B441    21
B474    21
B152    21
B081    21
Name: count, Length: 155, dtype: int64

In [47]:
# What genres are underrepresented in borrowing?

In [53]:
# Merge transactions with genre info
merged_genres = transactions.merge(books[['Book_ID', 'Genre']], on='Book_ID', how='left')

# Count borrowings per genre
genre_borrow_counts = merged_genres['Genre'].value_counts()

# Count total books per genre
genre_total_books = books['Genre'].value_counts()

# Calculate borrow-to-book ratio
genre_ratio = (genre_borrow_counts / genre_total_books).sort_values()

print("Underrepresented genres (low borrow-to-book ratio):\n", genre_ratio)

Underrepresented genres (low borrow-to-book ratio):
 Genre
Sports         3.125000
Sociology      3.379310
Mystery        3.470588
Fantasy        3.761905
Psychology     3.789474
Economics      3.894737
Cooking        3.958333
Religion       4.090909
Romance        4.176471
Politics       4.190476
Thriller       4.210526
Music          4.523810
Art            4.619048
Self-Help     12.066667
Travel        14.647059
Science       20.888889
Education     21.480000
Business      22.000000
Adventure     22.200000
Health        24.142857
Philosophy    26.928571
History       27.000000
Technology    29.500000
Fiction       30.312500
Biography     34.850000
Name: count, dtype: float64

In [54]:
# When are peak borrowing periods?

In [61]:
# Convert Borrow_Date to datetime
transactions['Checkout_Date'] = pd.to_datetime(transactions['Checkout_Date'])

# Extract month name
transactions['Month'] = transactions['Checkout_Date'].dt.month_name()

# Count borrowings per month
monthly_borrowings = transactions['Month'].value_counts().sort_index()

print("Peak borrowing periods by month:\n", monthly_borrowings)

Peak borrowing periods by month:
 Month
April        611
August       630
December     274
February     556
January      598
July         594
June         590
March        630
May          644
November     370
October      590
September    600
Name: count, dtype: int64

In [62]:
# How can we improve member engagement?

In [63]:

# Count borrowings per member
borrowings_per_member = transactions['Member_ID'].value_counts()

# Merge with member info
member_activity = members.merge(borrowings_per_member.rename("Borrow_Count"), left_on='Member_ID', right_index=True, how='left')

# Fill NaN for members who never borrowed
member_activity['Borrow_Count'] = member_activity['Borrow_Count'].fillna(0)

# Group by Membership_Type and calculate average borrowings
engagement_by_type = member_activity.groupby('Membership_Type')['Borrow_Count'].mean().sort_values()

print("Average borrowings by membership type:\n", engagement_by_type)

Average borrowings by membership type:
 Membership_Type
Senior      7.250000
Regular    12.181818
Faculty    12.960000
Student    14.844595
Premium    15.047619
Name: Borrow_Count, dtype: float64

In [66]:
# Count borrowings per member
borrow_counts = transactions['Member_ID'].value_counts().rename("Borrow_Count")

# Merge with members dataset
members_segmented = members.merge(borrow_counts, left_on='Member_ID', right_index=True, how='left')

# Fill NaN for members who never borrowed
members_segmented['Borrow_Count'] = members_segmented['Borrow_Count'].fillna(0).astype(int)

print(members_segmented[['Member_ID', 'Name', 'Borrow_Count']].head())

  Member_ID         Name  Borrow_Count
0      M001  Neha Sharma            17
1      M002   Ravi Patel            17
2      M003   Aisha Khan            17
3      M004     John Doe            12
4      M005   Sara Mehta            17

In [70]:
import numpy as np

# Define conditions
conditions = [
    members_segmented['Borrow_Count'] > 20,
    members_segmented['Borrow_Count'].between(10, 20),
    members_segmented['Borrow_Count'].between(5, 9),
    members_segmented['Borrow_Count'] < 5
]

# Define labels
labels = ['Heavy User', 'Regular User', 'Light User', 'Inactive User']

# Apply segmentation with explicit default
members_segmented['User_Category'] = np.select(conditions, labels, default='Unknown')

# Preview results
print(members_segmented[['Member_ID', 'Name', 'Borrow_Count', 'User_Category']].head(10))

  Member_ID          Name  Borrow_Count User_Category
0      M001   Neha Sharma            17  Regular User
1      M002    Ravi Patel            17  Regular User
2      M003    Aisha Khan            17  Regular User
3      M004      John Doe            12  Regular User
4      M005    Sara Mehta            17  Regular User
5      M006     David Lee            17  Regular User
6      M007    Priya Nair            14  Regular User
7      M008   Arjun Singh            12  Regular User
8      M009  Emily Carter            17  Regular User
9      M010   Rahul Verma            17  Regular User

## Advanced Analysis Challenges

### Challenge 1: Member Segmentation
Create member categories based on borrowing behavior:
- **Heavy Users**: >20 books borrowed
- **Regular Users**: 10-20 books  
- **Light Users**: 5-9 books
- **Inactive Users**: <5 books

### Challenge 2: Seasonal Trends
Analyze borrowing patterns by:
- Month of the year
- Season (Academic calendar impact)
- Day of the week trends

### Challenge 3: Predictive Analysis  
- Predict which books a member might want to borrow next
- Identify members at risk of becoming inactive
- Forecast demand for different genres

### Challenge 4: Collection Management
- Identify books that haven't been borrowed in 6+ months
- Calculate cost per circulation for different books
- Recommend new acquisitions based on gaps in popular genres

In [30]:
# Challenge 1: Member segmentation

In [29]:
# Count borrowings per member
borrow_counts = transactions['Member_ID'].value_counts().rename('Borrow_Count')

# Merge counts into member list
members_segmented = members.merge(borrow_counts, left_on='Member_ID', right_index=True, how='left')
members_segmented['Borrow_Count'] = members_segmented['Borrow_Count'].fillna(0).astype(int)

# Label segments
conditions = [
    members_segmented['Borrow_Count'] > 20,
    members_segmented['Borrow_Count'].between(10, 20),
    members_segmented['Borrow_Count'].between(5, 9),
    members_segmented['Borrow_Count'] < 5
]
labels = ['Heavy User', 'Regular User', 'Light User', 'Inactive User']
members_segmented['User_Category'] = np.select(conditions, labels, default='Inactive User')

# Output segmented members (preview)
print(members_segmented[['Member_ID', 'Name', 'Membership_Type', 'Borrow_Count', 'User_Category']].head(20))

# Optional: counts per segment
print("\nCounts per segment:\n", members_segmented['User_Category'].value_counts())

   Member_ID              Name Membership_Type  Borrow_Count User_Category
0       M001       Neha Sharma         Student            17  Regular User
1       M002        Ravi Patel         Regular            17  Regular User
2       M003        Aisha Khan         Premium            17  Regular User
3       M004          John Doe         Regular            12  Regular User
4       M005        Sara Mehta         Student            17  Regular User
5       M006         David Lee         Premium            17  Regular User
6       M007        Priya Nair         Student            14  Regular User
7       M008       Arjun Singh         Regular            12  Regular User
8       M009      Emily Carter         Premium            17  Regular User
9       M010       Rahul Verma         Student            17  Regular User
10      M011        Ali Volkov         Regular            14  Regular User
11      M012     Dmitri Garcia         Regular            15  Regular User
12      M013        Neha Zhang         Regular            14  Regular User
13      M014   Ethan Rodriguez         Regular            14  Regular User
14      M015          Maria Li         Student            15  Regular User
15      M016     Wei Kuznetsov         Student            15  Regular User
16      M017     Ivan Martinez         Student            15  Regular User
17      M018       Katya Mehta         Regular            13  Regular User
18      M019        Sara Smith         Regular            15  Regular User
19      M020  Anya Al-Mansouri         Student            15  Regular User

Counts per segment:
 User_Category
Regular User     443
Light User        51
Inactive User      6
Name: count, dtype: int64

In [32]:
# Challenge 2: Seasonal trends — month of the year

In [33]:
# Robust date column resolver
date_cols = ['Borrow_Date', 'Loan_Date', 'Issue_Date', 'Checkout_Date', 'Date']
date_col = next((c for c in date_cols if c in transactions.columns), None)
if date_col is None:
    raise KeyError(f"None of the expected date columns found. Available: {list(transactions.columns)}")

transactions[date_col] = pd.to_datetime(transactions[date_col], errors='coerce')

# Month name
transactions['Month'] = transactions[date_col].dt.month_name()
monthly_counts = transactions['Month'].value_counts().sort_index()

print("Borrowings by month:\n", monthly_counts)

Borrowings by month:
 Month
April        611
August       630
December     274
February     556
January      598
July         594
June         590
March        630
May          644
November     370
October      590
September    600
Name: count, dtype: int64