## 1. List ([]) – Ordered, Mutable, Allows Duplicates

In [ ]:
data = [1,2,5,4,3,6,8,7,5]
print(data)

[1, 2, 5, 4, 3, 6, 8, 7, 5]

In [20]:
#Add item to end
data.append(7)
print(data)

[1, 2, 5, 4, 3, 6, 8, 7, 5, 7]

In [21]:
#Add multiple items
data.extend([6,8])
print(data)

[1, 2, 5, 4, 3, 6, 8, 7, 5, 7, 6, 8]

In [27]:
#Insert at index
data.insert(3,"Hello")
print(data)

[8, 6, 7, 'Hello', 5, 7, 8, 6, 3, 4, 5, 2]

In [28]:
#Remove the first match
data.remove("Hello")
print(data)

[8, 6, 7, 5, 7, 8, 6, 3, 4, 5, 2]

In [30]:
#Renove by Index
data.pop(10)
print(data)

[8, 6, 7, 5, 7, 8, 6, 3, 4, 5]

In [32]:
#sort in place
data.sort()
print(data)

[3, 4, 5, 5, 6, 6, 7, 7, 8, 8]

In [35]:
#reverse in place
data.reverse()
print(data)

[8, 8, 7, 7, 6, 6, 5, 5, 4, 3]

In [37]:
#Find index of item 
print(data.index(7))

2

In [39]:
#Count occurrences
print(data.count(8))

2

### Rare but Powerful

In [42]:
#Shallo copy
new_list = data.copy()
print(new_list)

[8, 8, 7, 7, 6, 6, 5, 5, 4, 3]

In [44]:
#empty list
new_list.clear()
print(new_list)

[]

In [50]:
#function transformation
name = 'varun'
list(map(str.upper,name))

['V', 'A', 'R', 'U', 'N']

In [51]:
#list Comprehension
print([x for x in range(1,10,1)])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## 2. Tuple (()) – Ordered, Immutable

In [55]:
#Touple unpacking assign multiple values
a,b = (1,2)
print(f"a = {a}, b = {b}")

a = 1, b = 2

In [58]:
data = (91,2,33,4,5,6)
print(type(data))

<class 'tuple'>

In [60]:
#in keyword Membership test
if 5 in data:
    print(True)

#or we can write it as
if 3 in (22,55,66,3):
    print(True)

True
True

In [67]:
#Tuple slicing Extract sub-tuples
print(data[1:6])

(2, 33, 4, 5, 6)

## 3. Set ({} or set()) – Unordered, Unique Elements

In [74]:
nums = {1,2,3,4,4,5,6,7}
print(nums)

{1, 2, 3, 4, 5, 6, 7}

In [75]:
#Add elements
nums.add(10)
print(nums)

{1, 2, 3, 4, 5, 6, 7, 10}

In [76]:
#remove element
nums.remove(4)
print(nums)

{1, 2, 3, 5, 6, 7, 10}

In [78]:
#remove safely
nums.discard(1)
print(nums)

{2, 3, 5, 6, 7, 10}

In [82]:
#Common element
nums2 = {11,12,13,13,14}
print(nums.union(nums2))

{2, 3, 5, 6, 7, 10, 11, 12, 13, 14}

In [83]:
#unique element
nums3 = {5,6,7,8,9,10}
print(nums.intersection(nums3))

{10, 5, 6, 7}

In [85]:
#difference to find
print(nums.difference(nums3))

{2, 3}

In [87]:
#Unique to eitherr
print(nums.symmetric_difference(nums3))

{2, 3, 8, 9}

## 4. Dictionary ({key: value}) – Key-Value Mapping

In [101]:
student_data = {
    'name' : 'Vaishnav Mankar',
    'subject' : ['Python','HPC','NC2'],
    'Roll_NO': 2409,
    'Address':'Pune University, SCMS'
}
print(student_data)

{'name': 'Vaishnav Mankar', 'subject': ['Python', 'HPC', 'NC2'], 'Roll_NO': 2409, 'Address': 'Pune University, SCMS'}

In [102]:
#Sage access
print(student_data.get('name'))

Vaishnav Mankar

In [103]:
#List of keys
print(student_data.keys())

dict_keys(['name', 'subject', 'Roll_NO', 'Address'])

In [104]:
#List of values
print(student_data.values())

dict_values(['Vaishnav Mankar', ['Python', 'HPC', 'NC2'], 2409, 'Pune University, SCMS'])

In [105]:
#key-value pairs
print(student_data.items())

dict_items([('name', 'Vaishnav Mankar'), ('subject', ['Python', 'HPC', 'NC2']), ('Roll_NO', 2409), ('Address', 'Pune University, SCMS')])

In [106]:
#merge dicts
new_data = {
    'songs':['little kirshna','jungle book title song'],
    'movie':['Artical 15','Black Fiiday']
}
student_data.update(new_data)
print(student_data)

{'name': 'Vaishnav Mankar', 'subject': ['Python', 'HPC', 'NC2'], 'Roll_NO': 2409, 'Address': 'Pune University, SCMS', 'songs': ['little kirshna', 'jungle book title song'], 'movie': ['Artical 15', 'Black Fiiday']}

In [107]:
#Remove key
student_data.pop('name')
print(student_data)

{'subject': ['Python', 'HPC', 'NC2'], 'Roll_NO': 2409, 'Address': 'Pune University, SCMS', 'songs': ['little kirshna', 'jungle book title song'], 'movie': ['Artical 15', 'Black Fiiday']}

In [108]:
#delete key
del student_data['songs']
print(student_data)

{'subject': ['Python', 'HPC', 'NC2'], 'Roll_NO': 2409, 'Address': 'Pune University, SCMS', 'movie': ['Artical 15', 'Black Fiiday']}

### Rare but Powerful

In [111]:
#Default insert
student_data.setdefault('age', 25)
print(student_data)

{'subject': ['Python', 'HPC', 'NC2'], 'Roll_NO': 2409, 'Address': 'Pune University, SCMS', 'movie': ['Artical 15', 'Black Fiiday'], 'age': 25}