In [2]:
import pandas as pd

Create a DataFrame with information about 5 of your favorite movies.
- Columns: 'Title', 'Year', 'Genre', 'Rating' (out of 10), 'Duration' (in minutes)
- Include at least one missing value intentionally

In [3]:
#Creating a dictionary of movies
movie_data = {
    'Title' : ['Tarzen','Krish','Flying jut','Shaktiman','Hatim'],
    'Year' : [2006,2012,2019,2001,2000],
    'Genre' : ['Fantacy', 'Sci-Fi','Action',None,'Mithology'],
    'Rating': [8.8, 8.6, 9.0, 7.8, 8.6],
    'Duration' : [148, 169, 152, 162, None]
}

# Create the DataFrame
movies_df = pd.DataFrame(movie_data)

# Display the DataFrame
print(movies_df)

        Title  Year      Genre  Rating  Duration
0      Tarzen  2006    Fantacy     8.8     148.0
1       Krish  2012     Sci-Fi     8.6     169.0
2  Flying jut  2019     Action     9.0     152.0
3   Shaktiman  2001       None     7.8     162.0
4       Hatim  2000  Mithology     8.6       NaN


### Problem 1.2: Basic Data Exploration
*Task*: Using your movie dataset:
1. Display the first 3 rows
2. Show column names and data types
3. Get basic statistics for numeric columns
4. Find how many missing values are in each column

In [4]:
print("First three rows of the datase.")
print(movies_df.head(3))
print("\n")

print("Colum name and data type")
print(movies_df.dtypes)
print("\n")

print("Some statistic for numerical column")
print(movies_df.describe())
print("\n")

print("find how many missing value are in each column")
print(movies_df.isnull().sum())

First three rows of the datase.
        Title  Year    Genre  Rating  Duration
0      Tarzen  2006  Fantacy     8.8     148.0
1       Krish  2012   Sci-Fi     8.6     169.0
2  Flying jut  2019   Action     9.0     152.0


Colum name and data type
Title        object
Year          int64
Genre        object
Rating      float64
Duration    float64
dtype: object


Some statistic for numerical column
             Year   Rating    Duration
count     5.00000  5.00000    4.000000
mean   2007.60000  8.56000  157.750000
std       7.95613  0.45607    9.535023
min    2000.00000  7.80000  148.000000
25%    2001.00000  8.60000  151.000000
50%    2006.00000  8.60000  157.000000
75%    2012.00000  8.80000  163.750000
max    2019.00000  9.00000  169.000000


find how many missing value are in each column
Title       0
Year        0
Genre       1
Rating      0
Duration    1
dtype: int64

### Problem 2.1: Handle Missing Data
*Task*: Create a dataset with missing values and practice different cleaning strategies.
1. Remove all rows with ANY missing values
2. Remove rows only if ALL values are missing
3. Fill missing Math_Score with the average
4. Fill missing Science_Score with 0
5. Fill missing names with "Unknown"

In [5]:
import numpy as np

data = {
    'name':['Aditya','Vadent',None,'Sahili','Prapti',None],
    'Math_score' : [85,np.nan,78,92,np.nan,87],
    'Science_Score':[90,85,np.nan,np.nan,70,np.nan]
}

df = pd.DataFrame(data)
print("Original Dataframe\n",df)

Original Dataframe
      name  Math_score  Science_Score
0  Aditya        85.0           90.0
1  Vadent         NaN           85.0
2    None        78.0            NaN
3  Sahili        92.0            NaN
4  Prapti         NaN           70.0
5    None        87.0            NaN

In [6]:
# 1. Remove all rows with ANY missing values
df_any_missing_removed = df.dropna()
print("Row with any missing value removed:\n",df_any_missing_removed)

Row with any missing value removed:
      name  Math_score  Science_Score
0  Aditya        85.0           90.0

In [7]:
# 2. Remove rows only if ALL values are missing
df_all_missing_remove = df.dropna(how='all')
print("Row with ALL values are missing remove:\n", df_all_missing_remove)

Row with ALL values are missing remove:
      name  Math_score  Science_Score
0  Aditya        85.0           90.0
1  Vadent         NaN           85.0
2    None        78.0            NaN
3  Sahili        92.0            NaN
4  Prapti         NaN           70.0
5    None        87.0            NaN

In [8]:
# 3. Fill missing Math_Score with the average
math_avg = df['Math_score'].mean(skipna = True)
df['Math_score'].fillna(math_avg,inplace = True)
print('\nFilled missing Math_Score with average: \n', df)

Filled missing Math_Score with average:
      name  Math_score  Science_Score
0  Aditya        85.0           90.0
1  Vadent        85.5           85.0
2    None        78.0            NaN
3  Sahili        92.0            NaN
4  Prapti        85.5           70.0
5    None        87.0            NaN

C:\Users\vaish\AppData\Local\Temp\ipykernel_2836\1746396937.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Math_score'].fillna(math_avg,inplace = True)

In [9]:
# 4. Fill missing Science_Score with 0
df['Science_Score'].fillna(0, inplace=True)
print("Filled missing Science_score with 0: \n",df)

Filled missing Science_score with 0:
      name  Math_score  Science_Score
0  Aditya        85.0           90.0
1  Vadent        85.5           85.0
2    None        78.0            0.0
3  Sahili        92.0            0.0
4  Prapti        85.5           70.0
5    None        87.0            0.0

C:\Users\vaish\AppData\Local\Temp\ipykernel_2836\2492853991.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Science_Score'].fillna(0, inplace=True)

In [10]:
# 5. Fill missing names with "Unknown"
df['name'].fillna("Unknown",inplace=True)
print("Filling missing Name with Unknown:\n",df)

Filling missing Name with Unknown:
       name  Math_score  Science_Score
0   Aditya        85.0           90.0
1   Vadent        85.5           85.0
2  Unknown        78.0            0.0
3   Sahili        92.0            0.0
4   Prapti        85.5           70.0
5  Unknown        87.0            0.0

C:\Users\vaish\AppData\Local\Temp\ipykernel_2836\72302548.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['name'].fillna("Unknown",inplace=True)

### Problem 2.2: Data Type Conversion
*Task*: Fix data types in this problematic dataset.
1. Convert Price to float
2. Convert Quantity to integer
3. Convert Is_Weekend to boolean
4. Convert Date to datetime
sample:

sales_data = pd.DataFrame({
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03'],
   
    'Price': ['29.99', '15.50', '89.00'],  # Should be numeric
   
    'Quantity': ['5', '3', '7'],           # Should be numeric
   
    'Is_Weekend': ['True', 'False', 'False']  # Should be boolean
})

In [11]:
sales_data = pd.DataFrame({
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03'],
    'Price': ['29.99', '15.50', '89.00'],
    'Quantity': ['5', '3', '7'],
    'Is_Weekend': ['True', 'False', 'False']
})

print(sales_data.dtypes)

Date          object
Price         object
Quantity      object
Is_Weekend    object
dtype: object

In [15]:
# 1. Convert Price to float
sales_data['Price'] = sales_data['Price'].astype(float)
print(sales_data.dtypes)

Date           object
Price         float64
Quantity       object
Is_Weekend     object
dtype: object

In [17]:
# 2. Convert Quantity to integer
sales_data['Quantity'] = sales_data['Quantity'].astype(int)
print(sales_data.dtypes)

Date           object
Price         float64
Quantity        int64
Is_Weekend     object
dtype: object

In [20]:
# 3. Convert Is_Weekend to boolean
sales_data['Is_Weekend'] = sales_data['Is_Weekend'].astype(bool)
print(sales_data.dtypes)

Date           object
Price         float64
Quantity        int64
Is_Weekend       bool
dtype: object

In [23]:
# 4. Convert Date to datetime
sales_data['Date'] = pd.to_datetime(sales_data['Date'])
print(sales_data.dtypes)

Date          datetime64[ns]
Price                float64
Quantity               int64
Is_Weekend              bool
dtype: object

In [25]:
# Final Check: Print updated data types
print("\nUpdated data Type:",sales_data.dtypes)

Updated data Type: Date          datetime64[ns]
Price                float64
Quantity               int64
Is_Weekend              bool
dtype: object

### Problem 3.1: Complex Filtering
*Task*: Using the BMW dataset, find cars that meet specific criteria.

*Your Tasks:*
1. Find all cars from 2016 or later
2. Find cars with price between 15000 and 25000
3. Find diesel cars with mileage less than 40000
4. Find the cheapest car for each fuel type

In [49]:
df = pd.read_csv('bmw_with_missing_data.csv')
print("\nInformation about table\n",df.info())
print("\nNull values in tabel\n",df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         98 non-null     object
 1   year          87 non-null     object
 2   price         90 non-null     object
 3   transmission  93 non-null     object
 4   mileage       91 non-null     object
 5   fuelType      93 non-null     object
 6   tax           100 non-null    object
 7   mpg           93 non-null     object
 8   engineSize    102 non-null    object
dtypes: object(9)
memory usage: 7.7+ KB

Information about table
 None

Null values in tabel
 model            9
year            20
price           17
transmission    14
mileage         16
fuelType        14
tax              7
mpg             14
engineSize       5
dtype: int64

In [52]:
#Convert key columns to proper types, coercing errors to NaN:
df['year'] = pd.to_numeric(df['year'],errors = 'coerce')
df['price'] = pd.to_numeric(df['price'], errors = 'coerce')
df['mileage'] = pd.to_numeric(df['mileage'], errors = 'coerce')

In [55]:
#Drop rows with missing values in critical columns
df_clean = df.dropna(subset=['year','price','mileage','fuelType'])

model            9
year             0
price            0
transmission    14
mileage          0
fuelType         0
tax              7
mpg              6
engineSize       4
dtype: int64

In [60]:
# 1. Find all cars from 2016 or later
car_2016_plus = df_clean[df_clean['year'] >= 2016]
print(car_2016_plus.head())

      model    year    price transmission  mileage fuelType  tax   mpg  \
2  5 Series  2016.0  16000.0          NaN  62794.0   Diesel  160  51.4
3  1 Series  2017.0  12750.0    Automatic  26676.0   Diesel  NaN  72.4
5       NaN  2016.0  14900.0    Automatic  35309.0   Diesel  125  60.1
7  2 Series  2018.0  16250.0       Manual  10401.0   Petrol  145  52.3
9  5 Series  2016.0  14250.0    Automatic  36099.0   Diesel   20  68.9

  engineSize
2        3.0
3        1.5
5        2.0
7        NaN
9        2.0

In [61]:
# 2. Find cars with price between 15000 and 25000
cars_in_price_range = df_clean[(df_clean['price'] >= 15000) & (df_clean['price'] <= 25000)]
print(cars_in_price_range.head())

       model    year    price transmission  mileage fuelType  tax   mpg  \
2   5 Series  2016.0  16000.0          NaN  62794.0   Diesel  160  51.4
7   2 Series  2018.0  16250.0       Manual  10401.0   Petrol  145  52.3
10        X3  2017.0  15500.0          NaN  74907.0   Diesel  145  52.3
12        X3  2016.0  15500.0    Automatic  77823.0   Diesel  125  54.3
18  1 Series  2017.0  15500.0    Automatic  22812.0   Diesel  NaN  68.9

   engineSize
2         3.0
7         NaN
10        2.0
12        NaN
18        1.5

In [66]:
# 3. Find diesel cars with mileage less than 40000
diesel_low_mileage = df_clean[(df_clean['fuelType'].str.lower() == 'disel') & (df_clean['mileage'] < 40000)]
print(diesel_low_mileage)

Empty DataFrame
Columns: [model, year, price, transmission, mileage, fuelType, tax, mpg, engineSize]
Index: []

In [68]:
# 4. Find the cheapest car for each fuel type
cheapest_by_fuel = df_clean.loc[df_clean.groupby('fuelType')['price'].idxmin()]
print(cheapest_by_fuel)
# groupby('fuelType'): Groups the DataFrame by each fuel type (e.g., Diesel, Petrol, Electric).
# ['price'].idxmin(): For each group, finds the index of the row with the lowest price.
# df_clean.loc[...]: Retrieves the full row at that index — giving you the cheapest car for each fuel type.

        model    year    price transmission  mileage  fuelType  tax    mpg  \
95        NaN  2015.0   7948.0       Manual  74375.0    Diesel   30    NaN
101   UNKNOWN  2020.0  25000.0          NaN   8000.0  Electric    0  200.0
16        NaN  2017.0  14250.0    Automatic  55594.0     Other  135  148.7
64   1 Series  2016.0  10800.0          NaN  26404.0    Petrol  125   53.3

    engineSize
95         2.0
101        NaN
16         2.0
64         1.5

### Problem 3.2: Grouping and Aggregation
*Task*: Analyze the BMW dataset by groups.

*Your Tasks:*
1. Group by fuel type and find average price
2. Group by year and count how many cars
3. Group by transmission type and find max, min, and average mileage
4. Find the most expensive car in each model category

In [72]:
# 1. Group by fuel type and find average price
avg_price_by_fuel = df_clean.groupby('fuelType')['price'].mean()
print("\nAverage price by fuel type", avg_price_by_fuel)

Average price by fuel type fuelType
Diesel      14473.555556
Electric    25000.000000
Other       15675.000000
Petrol      18575.000000
Name: price, dtype: float64

In [73]:
# 2. Group by year and count how many cars
car_count_by_year = df_clean.groupby('year')['model'].count()
print("\nNumber fo car by year\n",car_count_by_year)

Number fo car by year
 year
2013.0     1
2014.0     4
2015.0     1
2016.0    10
2017.0     8
2018.0     3
2019.0     2
2020.0     2
Name: model, dtype: int64

In [74]:
# 3. Group by transmission type and find max, min, and average mileage
mileage_stats_by_transmission = df_clean.groupby('transmission')['mileage'].agg(['max','min','mean'])
print("\nMileage stats by transmission type:\n",mileage_stats_by_transmission)

Mileage stats by transmission type:
                   max      min          mean
transmission
Automatic     77823.0   5000.0  36701.055556
Manual        74375.0  10401.0  28880.625000

In [77]:
# 4. Find the most expensive car in each model category
most_expensive_by_model = df_clean.loc[df_clean.groupby('model')['price'].idxmax()]
print("\nMost expensive car by model:\n", most_expensive_by_model[['model','price']])

Most expensive car by model:
          model    price
18    1 Series  15500.0
7     2 Series  16250.0
88    3 Series  19490.0
30    4 Series  16800.0
2     5 Series  16000.0
99      BMW Z4  35000.0
103  DUPLICATE  14000.0
101    UNKNOWN  25000.0
38          X1  18900.0
46          X3  18000.0
105         X7  45000.0
32          i3  17100.0