### Level 1: Basics with Data Types & Conditionals

Odd or Even:
Write a program that takes an integer input and prints whether it is odd or even.

In [2]:
num = int(input("Enter the number: "))
reminder = num%2
if reminder == 0 :
    print("Odd")
else:
    print("even")

Enter the number:  5

even

Largest of Three:
Ask the user to input three numbers. Print the largest using if-elif-else.

In [3]:
a,b,c = input("Enter three number").split(",")
if a > b and a > c:
    print(f"{a} is greater then all")
elif b > a and b > c:
    print(f"{b} is greater than all")
else:
    print(f"{c} is greater than all")

Enter three number 5,5,2

2 is greater than all

Vowel or Consonant:
Take a character input. Check if it is a vowel or consonant.

In [5]:
name = input("Enter a string")
Vowels = ['A','E','I','O','U','a','e','i','o','u']
vovel_size = 0
Conconent_size = 0
for i in name:
    if i in Vowels:
       vovel_size +=1
    else:
        Conconent_size += 1
        
print("Vovel in the string",vovel_size)
print("Conconent in the string",Conconent_size)

Enter a string lll;kjjhhjv

Vovel in the string 0
Conconent in the string 11

### Level 2: Lists & Tuples

List Sum & Average:
Given a list of numbers, calculate the sum and average without using sum() or len() (use loops).

In [29]:
num = input("Enter the number of elements you eants")
number_in_list = list(map(int, num.split()))
sum = 0
count = 0
for i in number_in_list:
    sum += i
    count += 1

print(sum)
print(f"{sum/count}")

Enter the number of elements you eants 1 2 3 4

4
10
2.5

Second Largest Number:
Find the second largest number in a list.

In [42]:
numbers = [1,2,3,4,5,6,7]
largest = 0
for i in numbers:
    if i > largest:
        largest = i
if i in numbers:
    numbers.pop()
print(numbers)
for i in numbers:
    if i > largest:
        largest = i
print(i)

[1, 2, 3, 4, 5, 6]
6

Unique Elements:
Given a list with duplicates, create a new list with only unique elements (do not use set).

In [46]:
numbers = [1,1,2,3,4,4,5,6,6,7,8,8]
num = []
for i in numbers:
    if i not in num:
        num.append(i)
print(num)

[1, 2, 3, 4, 5, 6, 7, 8]

Tuple Swap:
Given a tuple (a, b), swap the values without using a temporary variable.

In [6]:
elements = (2,6)
a, b = elements
b, a = a, b
print(a,b)

6 2

### Level 3: Dictionaries

Student Grades Dictionary:
Create a dictionary with student names as keys and marks as values. Print:

The student with the highest marks.

The class average.

Reverse Dictionary:
Given a dictionary {key: value}, create a new dictionary {value: key}.

The student with the highest marks.

In [18]:
student_grades = {"Aditya" : 97, "Vadent" : 89, "Prapti": 85, "Sahili": 89, "Aniket": 43, "Siddhes":41}
max_value = max(student_grades.values())  
print("Max values :",max_value )

Max values : 97

In [24]:
student_grades = {"Aditya" : 95, "Vadent" : 89, "Prapti": 85, "Sahili": 89, "Aniket": 43, "Siddhes":41}
max_val = float('-inf') #starting with the lowest possible value
for key in student_grades:
    if student_grades[key] > max_val:
        max_val = student_grades[key]

print("Maximum value : ",max_val)

Maximum value :  95

In [27]:
student_grades = {"Aditya" : 95, "Vadent" : 89, "Prapti": 85, "Sahili": 89, "Aniket": 43, "Siddhes":41}
max_key = max(student_grades, key = student_grades.get)
print("key with max value:",max_key)
print("Max value:",student_grades[max_key])

key with max value: Aditya
Max value: 95

In [29]:
student_grades = {"Aditya" : 95, "Vadent" : 89, "Prapti": 85, "Sahili": 89, "Aniket": 43, "Siddhes":41}
max_key = None
max_val = float("-inf")
for key in student_grades:
    if student_grades[key] > max_val:
        max_val = student_grades[key]
        max_kay = key

print(f"Maximum marks got to student is {max_kay}:{max_val}")

Maximum marks got to student is Aditya:95

The class average.

In [32]:
student_grades = {"Aditya" : 95, "Vadent" : 89, "Prapti": 85, "Sahili": 89, "Aniket": 43, "Siddhes":41}
total = 0
count = 0
for value in student_grades:
    total += student_grades[value]
    count += 1;

average = total/count
print(f"The average fo the class is {average}")

The average fo the class is 73.66666666666667

In [38]:
student_grades = {"Aditya" : 95, "Vadent" : 89, "Prapti": 85, "Sahili": 89, "Aniket": 43, "Siddhes":41}
average = sum(student_grades.values()) / len(student_grades)
print(f"The class average is : {average}")

The class average is : 73.66666666666667

In [44]:
import numpy as np
student_grades = {"Aditya" : 95, "Vadent" : 89, "Prapti": 85, "Sahili": 89, "Aniket": 43, "Siddhes":41}
average = np.mean(list(student_grades.values()))
print(f"class average: {average}")

class average: 73.66666666666667

Reverse Dictionary:
Given a dictionary {key: value}, create a new dictionary {value: key}.

In [46]:
#Method 1: Using a for loop
student_grades = {"Aditya" : 95, "Vadent" : 89, "Prapti": 85, "Sahili": 89, "Aniket": 43, "Siddhes":41}
reverse_dict = {}
for key, value in student_grades.items():
    reverse_dict[value] = keys

print(reverse_dict)

{95: 'Aditya', 89: 'Aditya', 85: 'Aditya', 43: 'Aditya', 41: 'Aditya'}

In [47]:
#Method 2: Dictionary Comprehension
student_grades = {"Aditya" : 95, "Vadent" : 89, "Prapti": 85, "Sahili": 89, "Aniket": 43, "Siddhes":41}
reverse_dict = {value : key for key, value in student_grades.items()}
print(reverse_dict)

{95: 'Aditya', 89: 'Sahili', 85: 'Prapti', 43: 'Aniket', 41: 'Siddhes'}

In [49]:
#Method 3: Using dict() and zip()
student_grades = {"Aditya" : 95, "Vadent" : 89, "Prapti": 85, "Sahili": 89, "Aniket": 43, "Siddhes":41}
reverse_dict = dict(zip(student_grades.values(), student_grades.keys()))
print(reverse_dict)

{95: 'Aditya', 89: 'Sahili', 85: 'Prapti', 43: 'Aniket', 41: 'Siddhes'}

### Combination of string and Dict

Word Frequency:
Take a string from the user and count how many times each word appears. Store results in a dictionary.

Example:
Input: "the cat and the dog"
Output: {'the': 2, 'cat': 1, 'and': 1, 'dog': 1}

In [50]:
#Method 1: Using a for loop
text = "the cat and the dog"
word_freq = {}
for word in text.split():
    if word in word_freq:
        word_freq[word] += 1
    else:
        word_freq[word] = 1

print(word_freq)

{'the': 2, 'cat': 1, 'and': 1, 'dog': 1}

In [51]:
#Method 2: Using dict.get() for cleaner code
word_freq = {}
for word in text.split():
    word_freq[word] = word_freq.get(word, 0) + 1

print(word_freq)

{'the': 2, 'cat': 1, 'and': 1, 'dog': 1}

In [57]:
#Method 3: Dictionary Comprehension with set()
text = "the cat and the dog"
word_freq = {word: text.split().count(word) for word in text.split()}
print(word_freq)

{'the': 2, 'cat': 1, 'and': 1, 'dog': 1}

## Leet code

#### 1> Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.

*Example 1:*

Input: nums = [2,7,11,15,4,5], target = 9
Output: [0,1]
Explanation: Because nums[0] + nums[1] == 9, we return [0, 1].
Example 2:

Input: nums = [3,2,4], target = 6
Output: [1,2]
Example 3:

Input: nums = [3,3], target = 6
Output: [0,1]

In [65]:
nums = [2,7,11,15,4,5]
n = len(nums)
target = 9
for i in range(0,n-1):
    for j in range(1, n):
        if target == nums[i] + nums[j]:
            print([i,j])

[0, 1]
[4, 5]

In [67]:
nums = [2,7,11,15,4,5]
n = len(nums)
target = 9
found = False
for i in range(0,n-1):
    for j in range(1, n):
        if target == nums[i] + nums[j]:
            print([i,j])
            found = True
            break
    if found:
        break

[0, 1]

In [70]:
def two_sum(nums, target):
    n = len(nums)
    for i in range(0,n - 1):
        for j in range(1, n):
            if nums[i] + nums[j] == target:
                return [i, j]

result = two_sum([2, 7, 11, 15, 4, 5], 9)
print(result)

[0, 1]